<h1>Bienvenido al portal de aplicaciones de Sebastián y Luis</h1>
<h2>¿Que aplicación quieres probar?</h2>
<br>
Pon a prueba tu rapidez de calculo mental
<%= link_to "Pruebalo!", new_operation_path %>
